/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo img {
    max-width: 200px;
  }

  .ChurchName {
    font-size: 14px;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav li {
    margin: 10px;
  }

  main {
    padding: 10px;
  }

  .background-images {
    height: 60vh;
  }
}
