/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo img {
    max-width: 200px;
  }

  .ChurchName {
    font-size: 14px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li {
    margin: 0 10px;
  }

  main {
    padding: 10px;
  }

  .background-images {
    height: 60vh;
  }

  .footer-content .Navigations {
    flex-direction: column;
  }

  .footer-content .Navigations div {
    margin: 10px 0;
  }
}
